.ant-menu-submenu-title .anticon {
  margin-right: 0;
}

.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.ant-menu-light {
  right: 0 !important;
  top: 48px !important;
  &.ant-menu-submenu-placement-bottomLeft {
    left: 0 !important;
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .ant-menu-submenu-placement-bottomLeft,
  .ant-menu-submenu.ant-menu-submenu-popup.ant-menu.ant-menu-light {
    width: 100% !important;
  }
}
